<!-- ~/php/tp1/view/404.html -->
<!DOCTYPE HTML>
<html>
 <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Stim | Not Found | Arthur ODIN</title>
	<link rel="icon" href="/images/favicon.ico" type="image/ico">
	<link href="/css/logincss.css" rel="stylesheet" type="text/css">
 </head>
 <body>
	<h1>404 seems like nothing's here ... oupsi</h1>
	<div class="inscrit">
		<form action="/public/main.php">
			<br />
			<button type="submit" class="BtPerso" name="Retour">Retour</button>
		</form>
	</div>
 </body>
<html>